/*
 * showLineNumbersInTables
 */
html.salesforceuiimprover-enabledScript-showLineNumbersInTables #bodyCell table.list > * > tr > th:first-child::before,
html.salesforceuiimprover-enabledScript-showLineNumbersInTables #bodyCell table.list > * > tr > td:first-child::before {
    content: '#';
    display: inline-block;
    color: #aaa;
    text-align: right;
    position: absolute;
    width: 2em;
    margin-left: -2.6em;
}

html.salesforceuiimprover-enabledScript-showLineNumbersInTables #bodyCell table.list > * > tr > th:first-child,
html.salesforceuiimprover-enabledScript-showLineNumbersInTables #bodyCell table.list > * > tr > td:first-child {
    padding-left: 2.8em;
}

html.salesforceuiimprover-enabledScript-showLineNumbersInTables #bodyCell table.list {
    counter-reset: showLineNumbersInTables-counter;
}
html.salesforceuiimprover-enabledScript-showLineNumbersInTables #bodyCell table.list > * > tr:not(.headerRow) > th:first-child::before,
html.salesforceuiimprover-enabledScript-showLineNumbersInTables #bodyCell table.list > * > tr:not(.headerRow) > td:first-child::before {
    content: counter(showLineNumbersInTables-counter);
    counter-increment: showLineNumbersInTables-counter;
}


/*
 * checkAllCheckboxes
 */
html.salesforceuiimprover-enabledScript-checkAllCheckboxes #bodyCell .addcheckboxes-container {
    padding: 0 3px 0 0;
    position: relative;
    margin-left: -1px;
}

html.salesforceuiimprover-enabledScript-checkAllCheckboxes #bodyCell .addcheckboxes-container input {
    vertical-align: top;
}

html.salesforceuiimprover-enabledScript-checkAllCheckboxes #bodyCell .addcheckboxes-container:hover .addcheckboxes-reset {
    display: block;
}

html.salesforceuiimprover-enabledScript-checkAllCheckboxes #bodyCell .addcheckboxes-container.addcheckboxes-container-disabled .addcheckboxes-reset {
    display: none;
}

html.salesforceuiimprover-enabledScript-checkAllCheckboxes #bodyCell .addcheckboxes-container .addcheckboxes-reset {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 3px;
    margin-left: -1px;
    margin-top: -3px;
    opacity: 0.2;
    background-color: #222;
}

html.salesforceuiimprover-enabledScript-checkAllCheckboxes #bodyCell .addcheckboxes-container .addcheckboxes-reset:hover {
    opacity: 1;
}

html.salesforceuiimprover-enabledScript-checkAllCheckboxes #bodyCell .addcheckboxes-container .addcheckboxes-reset a {
    color: #fff;
    display: inline-block;
    padding: 3px 6px;
}


/*
 * showFieldApiNames
 */
html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol {
    position: relative;
}
html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tipLabel {
    position: relative;
    display: inline;
}

html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tip {
    display: none;
    position: absolute;
    background: rgb(0,0,0);
    padding: 4px 10px 4px 7px;
    color: #fff;
    font-weight: 100;
    border-radius: 4px;
    left: 100%;
    right: inherit;
    top: 0;
    z-index: 100;
    white-space: nowrap;
}
html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol:hover .fieldApiName-tip {
    display: block;
}

html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tipLabel > .fieldApiName-tip {
    left: initial;
    right: 100%;
    margin-right: 18px;
    margin-top: -4px;
}

html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tip .fieldApiName-swapLabels {
    display: block;
    float: right;
    margin: -4px -25px -4px -7px;
    padding: 4px;
    background: #a33;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tip .fieldApiName-swapLabels:hover {
    background: #800;
}

html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tip .fieldApiName-detailsPageLink {
    cursor: pointer;
    display: inline-block;
    margin: 0 -5px 0 5px;
    font-size: 1.8em;
    line-height: 12px;
    vertical-align: middle;
    font-weight: 100;
    color: #52a1d1;
    text-decoration: none;
}
html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tip .fieldApiName-detailsPageLink:hover {
    color: #a3d0de;
}
html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tip .fieldApiName-detailsPageLink.fieldApiName-detailsPageLink-loading {
    cursor: progress;
}

html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tip      > .fieldApiName-fieldApiName,
html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tipLabel > .fieldApiName-fieldLabel {
    display: inline;
}

html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tipLabel > .fieldApiName-fieldApiName,
html.salesforceuiimprover-enabledScript-showFieldApiNames #bodyCell td.labelCol .fieldApiName-tip      > .fieldApiName-fieldLabel {
    display: none;
}

html.salesforceuiimprover-enabledScript-showFieldApiNames body.showFieldApiNames-showApiNamesInLabels #bodyCell td.labelCol .fieldApiName-tipLabel  > .fieldApiName-fieldLabel,
html.salesforceuiimprover-enabledScript-showFieldApiNames body.showFieldApiNames-showApiNamesInLabels #bodyCell td.labelCol .fieldApiName-tip       > .fieldApiName-fieldApiName{
    display: none;
}
html.salesforceuiimprover-enabledScript-showFieldApiNames body.showFieldApiNames-showApiNamesInLabels #bodyCell td.labelCol .fieldApiName-tipLabel  > .fieldApiName-fieldApiName,
html.salesforceuiimprover-enabledScript-showFieldApiNames body.showFieldApiNames-showApiNamesInLabels #bodyCell td.labelCol .fieldApiName-tip       > .fieldApiName-fieldLabel{
    display: inline;
}