html.salesforceuiimprover-enabledScript-showLineNumbersInTables #bodyCell table.list > * > tr > th:first-child::before,
html.salesforceuiimprover-enabledScript-showLineNumbersInTables #bodyCell table.list > * > tr > td:first-child::before {
    content: attr(line-number);
    display: inline-block;
    width: 2em;
    color: #aaa;
    text-align: right;
    padding-right: 10px;
}